:root {
  --default-background-color: #1c1a19;
  --default-font-color: #ff6b00;
  --primary-font-color: #fff5e1;
  --secondary-font-color: #fff;
  --default-font-family: "Poppins", sans-serif;
  --primary-font-family: "Crete Round", serif;
  --secondary-font-family: "Roboto", sans-serif;
  --third-font-family: "Inter", sans-serif;
}

@media (min-width: 375px) {
  p {
    color: #091e42;
    font-family: var(--third-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .about-me {
    background: var(--default-background-color);
    padding: 120px 24px;
  }

  .about-me h1 {
    color: var(--default-font-color);
    font-family: var(--primary-font-family);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.37px;
  }

  .about-me h3 {
    color: var(--primary-font-color);
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .about-me p {
    color: var(--secondary-font-color);
    font-family: var(--default-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .social-links {
    padding: 8px;
  }

  .social-links a {
    color: #dbd8d7;
    width: 35px;
    height: 35px;
    padding: 2px 3px;
    border-radius: 8px;
  }

  .social-links a:hover {
    color: var(--default-font-color);
  }

  .grid-container {
    display: grid;
    padding: 120px 0;
    align-items: center;
    gap: 80px;
  }

  header {
    color: var(--default-background-color);
    font-family: var(--primary-font-family);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .feature {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .img {
    width: 327px;
    height: 237px;
  }

  h4 {
    color: #091e42;
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
  }

  .tags ul {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .tags li {
    color: #091e42;
    font-family: var(--third-font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    border: 1px solid #8993a4;
    background: var(--secondary-font-color);
    display: flex;
    padding: 10px 12px;
    align-items: center;
  }

  button {
    display: flex;
    padding: 12px;
    border: none;
    align-items: center;
    gap: 10px;
    background: var(--default-font-color);
    color: var(--secondary-font-color);
    text-align: center;
    font-family: var(--third-font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.51px;
  }

  button:hover {
    cursor: pointer;
  }

  .card-wrapper {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .card {
    display: inline-flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    background-image: url("photos/background.png");
    background-repeat: no-repeat;
  }

  .card h4 {
    width: 295px;
    height: 81px;
    color: #fff;
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
  }

  .card p {
    color: var(--secondary-font-color);
    font-family: var(--third-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 301px;
    height: 99px;
  }

  .action {
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    background: var(--default-font-color);
  }

  .full-button {
    display: inline-flex;
    padding: 12px;
    align-items: center;
    gap: 10px;
  }

  .about-myself {
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: var(--default-background-color);
  }

  .about-myself h1 {
    color: var(--default-font-color);
    font-family: var(--primary-font-family);
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.37px;
  }

  .about-myself p {
    color: #f4f5f7;
    font-family: var(--third-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .skills {
    display: inline-flex;
    padding: 120px 24px 38px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .ability {
    text-align: center;
    color: var(--secondary-font-color);
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
  }

  .language {
    color: var(--secondary-font-color);
    text-align: center;
    font-family: var(--third-font-family);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.667px;
  }

  .skills li {
    list-style: none;
    display: flex;
    padding: 0 12px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
